@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
img{
	border: none;
}
li{
	list-style: none;
}
input{
	border: none;
}
body{
	background-color: #f4f4f4;
}
.cf::after{
	content: "";
	display: block;
	clear: both;
}
.veil{
	position: relative;
	display: block;
}
.veil::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
}
.btn{
	padding-right: 2em;
	padding-left: 2em;
	line-height: 2.0em;
	font-size: 1.1em;
	color: #fff;
	border: 0;
	box-shadow: inset 0 0 0 2px #666666;
}
.btn:hover{
	transition: 1s;
	color: #af6a16;
	box-shadow: inset 0 0 0 2px #af6a16;
}
.fl{
	float: left;
}

/*header*/
nav{
	padding: 0 1em;
}
.navbar{
	margin-bottom: 0;
}
.top-nav{
	float: right;
}
@media screen and (max-width: 767px) {
	.top-nav{
		float: left;
	}
}
/*banner*/
.banner{
	width: 100%;
	padding: 15em 0 8em;
	text-align: center;
	color: #fff;
	background: url(../images/banner.jpg) center no-repeat;
}
.inner{
	position: relative;
	z-index: 2;
}
.inner h1{
	margin-top: 0;
	margin-bottom: 0.5em;
	font-size: 4em;
	letter-spacing: 0.3em;
}
.inner h1 span{
	letter-spacing: 0;
}
.inner p{
	margin-bottom: 2em;
	font-size: 1.5em;
	line-height: 2em;
}
@media screen and (max-width: 480px) { /*此处的变化宽度与bootstrap已有的都不相同，所以就仿照自己写*/
	.col-xxs-12{
		width: 95%;
	}
	.banner .two-btn .btn:first-child{
		margin-right: 0;
		margin-bottom: 0.3em;
	}
}
@media screen and (min-width: 481px) {
	.col-xxl-2{
		float: left;
		width: 22%;
	}
	.col-xxl-offset-4{
		margin-left: 28%
	}
}
.banner .btn:first-child{
	margin-right: 0.5em;
}
/*content intro*/
.content{
	margin-top: 5em;
	text-align: center;
}
.content .btn{
	color: #000;
}
.content .btn:hover{
	color: #af6a16;
}
.content .intro-wrap{
	padding-top: 5em;
	padding-bottom: 3em;
	background-color: #fff;
}
.myicon{
	display: block;
	width: 100%;
	height: 100%;
	min-height: 100px;
	position: relative;
	background: url(../images/alliance1.jpg) center no-repeat;
	background-size: 166px 100px;
}
.myicon .myicon-border{
	position: absolute;
	width: 166px;
	height: 100px;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	border-radius: 50%;
	border: 2px solid transparent;
}
.myicon:hover .myicon-border{
	border-color: #af6a16;
	transition: 2s;
}
.content h2{
	margin-bottom: 0.8em;
}
.content p{
	margin-bottom: 2em;
	font-size: 1.2em;
	line-height: 1.5em;
}
/*content article*/
.content .item-wrap{
	margin-top: 2em;
	padding-bottom: 3em;
	background-color: #fff;
}
.content .item img{
	width: 100%;
	height: 100%;
}
.content .item h3{
	position: absolute;
	top: 30%;
	width: 100%;
	z-index: 2;
	text-align: center;
	color: #fff;
}
.content .item p{
	width: 85%;
	margin: 1em auto;
}
.content .item a.veil{
	overflow: hidden;
}
.content .item a.veil:hover img{
	transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
}
.content .item a.veil img{
	transition: 0.8s;
	-webkit-transition: 0.8s;
	-moz-transition: 0.8s;
	-ms-transition: 0.8s;
}
.content .communicate{
	width: 100%;
	padding: 5em 0 3em;
}
/*footer*/
#footer{
	text-align: center;
	padding-bottom: 3em;
}
#footer::before{
	content: "";
	display: inline-block;
	width: 12em;
	height: 2px;
	margin-bottom: 3em;
	background-color: #666666;
}
#footer ul li{
	display: inline-block;
	padding: 0 0.5em;
}
#footer ul li a span{
	font-size: 2em;
	color: #666666;
}
